<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sitecore.experienceeditor.speak.requests>
      <request name="ExperienceEditor.FieldsValidation.ValidateFields" type="Sitecore.ExperienceEditor.Speak.Ribbon.Requests.FieldsValidation.ValidateFields, Sitecore.ExperienceEditor.Speak.Ribbon">
        <patch:attribute name="type" value="Sitecore.Support.ExperienceEditor.Speak.Ribbon.Requests.FieldsValidation.ValidateFields, Sitecore.Support.149177" />
      </request>
    </sitecore.experienceeditor.speak.requests>
  </sitecore>
</configuration>